.h10 {
    height: 10px
}

.quote {
    background-color: #eee7;
    font-family: 'Courier New', Courier, monospace
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #FFECB3
}

.times {
    font-family: 'Times New Roman', Times, serif
}

.main {
    margin-left: 25%;
    margin-right: 25%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}